**************************************************
*                                                *
* DRILL TAPE SUMMARY REPORT                      *
*                                                *
* C:\CAINPCB\ECBOT\V5\TCM8240_CAM\TMC8240-5.MAX  *
* Wed Jun 03 14:27:09 2009                       *
*                                                *
**************************************************

TOOL     SIZE     QUANTITY FEED     SPEED    
---------------------------------------------
T1       236      17       200      100                                                                                 
T2       315      20       200      100                                                                                 
