********************************
*                              *
* DRILL TAPE SUMMARY REPORT    *
*                              *
* C:\CAIN\ECBOT\V3\CAMERA.MAX  *
* Wed Nov 07 09:40:42 2007     *
*                              *
********************************

TOOL     SIZE     QUANTITY FEED     SPEED    
---------------------------------------------
T1       157      26       200      100                                                                                 
T2       315      20       200      100                                                                                 
T3       709      2        200      100                                                                                 
