//! **************************************************************************
// Written by: Map J.36 on Sat Mar 21 17:42:34 2009
//! **************************************************************************

SCHEMATIC START;
NET "clk_BUFGP/IBUFG" BEL "clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;
